/* main style */
:root {
    --margin-offset: 40px;
}

/* set default color for all sections */
section {
    color: var(--text-alt-lighter);
}

/* header styles */
h1 {
    font-family: 'MetallicaInspired', sans-serif;
    color: var(--accent-c);
    font-size: 150px;
    padding-top: 30px;
    text-align: center;
}

/* the section headers */
h2 {
    color: var(--text-alt);
    background-color: var(--accent-a-dimmer);
    padding: 10px;
    width: calc( 100% + 2* calc(var(--margin-offset) + var(--cover-padding)) ); /* h2 parent overflow */
    margin-right: calc( -1* calc(var(--margin-offset) + var(--cover-padding)) );
    margin-left: calc( -1* calc(var(--margin-offset) + var(--cover-padding)) );
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'PressStart2P';
    font-size: 45px;
}

.content-card {
    background-color: var(--accent-c);
    color: var(--text-alt-light);
}

/* game cards */
.game-card {
    padding: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}
.game-card .card-img {
    border-style: solid;
    border-radius: 30px;
    border-color: var(--accent-b);
    border-width: 10px;
    object-fit: cover;
}

.game-card .btn-primary {
    background-color: var(--accent-b);
    border-color: var(--accent-b);
    padding: 10px 20px;
    font-size: 18px;
}

.game-card-row {
    display: flex;
    flex-wrap: wrap;
}

.game-card-col {
    display: flex;
}

.card-text {
    flex-grow: 1;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-button {
    align-self: flex-start;
    width: 100%;
}

/* instructor cards */
.instructor-card {
    background-color: var(--accent-c);
    color: var(--text-alt-light);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.instructor-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .instructor-card img {
        width: 75px;
    }
}

/* testimonial carousel */
.testimonial-carousel {
    padding: 20px;
    border-left: 5px solid var(--accent-b);
    font-family: 'PressStart2P';
    font-size: 15px;
}

.welcome-section h1 {
    font-family: 'Metallica', sans-serif;
  }